body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0 ;
    display: grid;
    place-content: center;
    height:100dvh;
}

main{
    width: 400px;
    max-width: 100%;
    height: 70dvh;
    background-color: #fff;
    border: 1px solid #ccc ;
    border-radius:10px;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:0px;
}
.message{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px 0;
    padding: 4px 8px;
    > span:first-child{
            width: 36px;
            height: 36px;
            background-color: #eee;
            font-size: 12px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 99999px;
        }
    p {
        border-radius:8px ;
        padding: 10px 10px;
        margin-top: 4px;
    }

    &.user{
        align-self: flex-end;
        align-items: flex-end;
        span, p {
            background-color: aquamarine;
        }
    }

    &.bot {
        align-self: flex-start;
        span, p{
            background-color: aqua;
        }
    }


}

form {
    display: flex;
    input{
        border-radius: 99999px;
        flex-grow: 1;
        border: 0;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
    }

    button{
        background-color: #09f;
        border: 0;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        padding: 8px;
        transition: background .3s ease;
        &[disabled]{
            background:#343434;
            opacity: .20;
            pointer-events: none;
        }
        &:hover{
            background: rgb(5, 47, 75);
        }
    }
}

small{
    font-size: 12px;
    color: #555;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin:auto;
    width:400px;
}